VITE_SUPABASE_URL=https://qrpxoqphocxaygliurlg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFycHhvcXBob2N4YXlnbGl1cmxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQyMjE4MjgsImV4cCI6MjA2OTc5NzgyOH0.0W8S_Zwy2cDPi12RWmjgZSirMmLXXnFIUj__xXpAUls